
{% block form_row %}
    <div class="mb-4">
        {{ form_label(form, null, {'label_attr': {'class': 'block text-red font-semibold mb-1'}}) }}
        {{ form_widget(form, {'attr': {'class': ' w-full p-3 rounded bg-gray-800 border border-gray-700 focus:outline-none focus:ring-2 focus:ring-red-600'}}) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block form_errors %}
    {% if errors|length > 0 %}
        <ul class="mt-1 text-red-500 text-sm">
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block form_widget %}
    {% if compound %}
        {{ block('form_widget_compound') }}
    {% else %}
        {{ block('form_widget_simple') }}
    {% endif %}
{% endblock %}
